.my-dark-background{
    background-color: #2C3E50;
}

.my-green-background{
    background-color: #1ABC9C;
}

.my-img-container{
    width: 200px;
}

.separator-line{
    border: 2px solid;
    height: 0;
    width: 10%;
}

#upper-footer{
    background-color: #3A546D;
}

#facebook{
    border: 1px solid;

}