.my-dark-background{
    background-color: #2C3E50;
}

.my-green-background{
    background-color: #1ABC9C;
}

.my-img-container{
    width: 200px;
}

#portfolio .my-inner-col{
    background-color: magenta;
    overflow: hidden;
}

.my-inner-col img{
    width: 100%;
}